<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Color Tools</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="app/css/site.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div ng-app="colorApp" ng-controller="mainController as main" class="container-fluid app-container">
		<div class="row title-row" style="border-bottom: 1px solid #eee" ng-style="{'background-color': main.headerBg}">
			<div class="col-xs-3" ng-style="{'background-color':main.leftHeaderBgHex}">
				<h4 ng-style="{'color':main.textColor}">Colors <small class="animate-fade" style="float: right; cursor: pointer" ng-if='main.leftBgHex != "#ffffff"'><a ng-click="main.resetLeftBg()">Clear <i class="fa fa-minus-circle"></i></a></small></h4>
			</div>
			<div class="col-xs-9" ng-style="{'background-color':main.rightHeaderBgHex}">
				<h4 ng-style="{'color':main.textColor}" ng-if="main.shades">Shades for {{main.activeColor}} ({{main.activeHex}}) <small> <span ng-if="main.contrastRatio" class="animate-fade">Contrast ratio for background colors: {{main.contrastRatio | number: 1 }}</span></small><small class="animate-fade" style="float: right; cursor: pointer;" ng-if='main.rightBgHex != "#ffffff"'><a ng-click="main.resetRightBg()">Clear <i class="fa fa-minus-circle"></i></a></small></h4>
			</div>
		</div>
		<div class="row content-row">			
			<div class="col-xs-3 side-bar" ng-style="{'background-color': main.leftBgHex}">
				<div ng-repeat="(name, color) in main.colors.ilmn">
					<div color-block hex="color.hex" name="name" lum="color.luminance" ng-click="main.setShades(color, name)" ng-class="{active: main.activeColor == name}" show-name="true" show-lum="true" show-hex="true" set-left-bg="main.setLeftBg(hex)" set-right-bg="main.setRightBg(hex)"></div>
				</div>
			</div>
			<div ng-if="main.shades" class="col-xs-9 shades animate-fade" ng-style="{'background-color': main.rightBgHex}">
				<div ng-repeat="(name, color) in main.shades">
					<div color-block hex="color.hex" name="name" lum="color.luminance" contrast="color.contrast"  show-name="true" show-lum="true" show-hex="true" show-contrast="true" set-left-bg="main.setLeftBg(hex)" set-right-bg="main.setRightBg(hex)"></div>
				</div>
			</div>
			<div ng-if="!main.shades" class="col-xs-9 shades" style="display: flex; align-items: center;">
				<h3 style="color: #666;"><small><i class="fa fa-2x fa-lg fa-long-arrow-left"></i></small> Click on a color to show the various shades</h3>
			</div>
		</div>
	</div>
	<script src="app/js/color.js"></script>
	<script src="node_modules/chroma-js/chroma.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-clipboard/angular-clipboard.js"></script>
	
	<!-- Angular App -->
	<script src="dist/app.js"></script>

</body>
</html>